
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>Il y a 3 heures</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
      blandit.</p>
    <small>Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">Il y a 3 jours</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
      blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">Il y a 3 mois</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
      blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
</div>

<button mdbBtn type="button" color="primary" rounded="true" mdbWavesEffect>Primary</button>
<button mdbBtn type="button" color="default" rounded="true" mdbWavesEffect>Default</button>
<button mdbBtn type="button" color="secondary" rounded="true" mdbWavesEffect>Secondary</button>
<button mdbBtn type="button" color="success" rounded="true" mdbWavesEffect>Success</button>
<button mdbBtn type="button" color="info" rounded="true" mdbWavesEffect>Info</button>
<button mdbBtn type="button" color="warning" rounded="true" mdbWavesEffect>Warning</button>
<button mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect>Danger</button>
